#Select the folders and files to ignore
blog.html
blog_full.html
blog_left.html
blog_masonry.html
blog2.html
btn_basic_buttons.html
btn_library_buttons.html
btn_social_buttons.html
carousels.html
charts.html
collapses_tabs.html
components_alerts_wells.html
components_cards.html
components_counters.html
components_dropdowns.html
components_labels_badges.html
components_lists.html
components_masonry.html
components_modals.html
components_navtabs.html
components_paginations.html
components_panels.html
components_progress_bars.html
components_switch.html
components_thumbnails.html
components_tooltip_popover.html
components_vertical_tabs.html
content_box.html
css_blockquotes.html
css_dividers.html
css_forms.html
css_headers.html
css_tables.html
css_typography.html
e-commerce_cart.html
e-commerce_home.html
e-commerce_product.html
e-commerce.html
home_full.html
home_inverse_navbar.html
home_news.html
home_only_full.html
home_plan.html
home_polygon.html
home_profile.html
home_services.html
home_splash.html
home_splash2.html
home_video.html
icons_artificial_reason.html
icons_awesome.html
icons_glyph.html
icons_social.html
index_old.html
index.html
lightbox.html
page_404_2.html
page_404.html
page_500_2.html
page_500.html
page_about.html
page_about2.html
page_about3.html
page_clients.html
page_coming.html
page_coming2.html
page_contact.html
page_contact2.html
page_faq.html
page_faq2.html
page_login_full.html
page_login_register.html
page_login.html
page_pricing-mega.html
page_pricing.html
page_product.html
page_profile.html
page_profile2.html
page_register.html
page_services.html
page_support.html
page_team.html
page_team2.html
page_testimonial.html
page_timeline_left.html
page_timeline.html
portfolio_caption_hover.html
portfolio_item_devices.html
portfolio_item.html
portfolio_sidebar.html
portfolio_topbar.html
single_full.html
single.html
